table {
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin: 100px auto;
  width: 900px;
  border-collapse: collapse; /*removing gaps between <td> ot collapsing the borders */
}

thead th {
  width: 25%;
  text-transform: capitalize;
  color: #fff;
  background-color: #087f5b;
}

thead th:hover {
  background-color: rgb(38, 160, 118);
}

tbody tr:nth-child(even) {
  background-color: #e7e9eb;
}

tbody tr:nth-child(even):hover {
  background-color: #cbccce;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
