nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Styling the links */
a:link,
a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  margin: 12px;
  font-size: 25px;
  text-decoration: none;
  color: #343a40;
}

a:hover,
a:active {
  border-radius: 50%;
  color: #fff;
  background-color: #087f5b;
}

/* ARROW BUTTONS */
.arrow-button {
  height: 48px;
  width: 48px;
  padding: 10px;
  border: 1px solid #087f5b;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.arrow-button-icon {
  stroke: #087f5b;
}

/* hover effect of the button */
.arrow-button:hover {
  background-color: #087f5b;
}

.arrow-button:hover .arrow-button-icon {
  stroke: #fff;
}
