body {
  background-image: url('background.png');
  background-size: cover;
  background-position: 0px -250px;
}

.wrapper {
  margin: 20em auto 2em auto;
  width: 80%;
  position: relative;
}

.robot {
  animation-name: slide;
  animation-duration: 3s;
  /* animation-timing-function: ease-in-out; */
  animation-timing-function: cubic-bezier(0.02, 0.86, 0.97, 0.43);
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  /* animation-direction: alternate; */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(900px);
  }
}
