html,
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
  margin-left: auto;
  margin-right: auto;
  width: 51.5rem;
  border: 0.25rem solid #000;
}

h1 {
  padding: 0.9rem;
  font-size: 1.37rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.bage-sale {
  position: absolute;
  top: -1.12rem;
  left: -2.12rem;
  padding-top: 0.43rem;
  padding-bottom: 0.43rem;
  padding-left: 0.93rem;
  padding-right: 0.93rem;
  font-size: 0.75rem;
  letter-spacing: 0.12rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ec2f2f;
}

.product-page {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
  align-items: center;
}

/* HEADER SECTION */
header {
  grid-column: 1 / -1;
  position: relative;
  background-color: #f7f7f7;
}

/* PRODUCT SECTION */
.product-image {
  width: 15.6rem;
}

.price-shipping-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.shipping {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #777;
}

.product-info {
  margin-bottom: 0.9375rem;
}

.more-info-link:link,
.more-info-link:visited {
  color: #000;
}

.more-info-link:hover,
.more-info-link:active {
  text-decoration: none;
}

.info-link-color-swatches-column {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

/* color swatches */
.color-swatches-section {
  display: flex;
  gap: 0.625rem;
}

.black-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #000;
}
.blue-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #0000ff;
}
.red-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #ff0000;
}
.yellow-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #ffff00;
}
.green-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #00ff00;
}
.brown-color {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #964b00;
}

/* product details section */
.product-details-title {
  font-weight: bold;
}

.product-list {
  list-style-type: square;
}

.product-list-itam-1,
.product-list-itam-2 {
  margin-bottom: 0.625rem;
}

/* add to cart button */
.add-cart-button {
  grid-column: 1 / -1;
  padding: 0.93rem;
  border: none;
  border-top: 0.25rem solid #000;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

.add-cart-button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}
