html,
body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.product-page {
  border: 4px solid #000;
  width: 825px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* PRODUCT TITLE */
.product-title {
  padding: 15px;
  margin: 0;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
}

/* PRODUCT IMAGE */
.product-image {
  height: 250px;
  width: 250px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.product-title,
.shipping,
.product-details,
.add-cart {
  text-transform: uppercase;
}

.product-title,
.price,
.product-details {
  font-weight: bold;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.product-info {
  margin-bottom: 15px;
}

.more-info-link:link,
.more-info-link:visited {
  color: #000;
}

.more-info-link:hover,
.more-info-link:active {
  text-decoration: none;
}

.product-details {
  margin-top: 30px;
  font-size: 16px;
}

.product-list {
  list-style-type: square;
  margin-left: 20px;
}

.product-list li {
  margin-bottom: 10px;
}

.add-cart {
  width: 100%;
  /* height: 50px; */
  padding: 15px;
  font-size: 20px;
  border: none;
  border-top: 4px solid #000;
  color: #fff;
  background-color: #000;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
